<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs.cod3rs.shopifine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_shopifine"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity_" />
        <activity android:name=".activity.RegisterActivity_" />
        <activity android:name=".activity.ProductActivity_" />
        <activity android:name=".activity.OrderActivity_" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3VqtRheS_qHzsN3V4qOsIYrbDhxHjTz0" />
    </application>

</manifest>
